body {
    margin: 0px;
    height: 90vh;
    font-family: Arial, san-serif;
}



.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin: 20px;

}

.header-advanced-logo, .header-advanced{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-links a{
    margin-right: 10px;
    font-size: 13px;
}

a:link{
    color: #1f1f1f;
    text-decoration: none;
}
a:visited{
    color: #1f1f1f;
    text-decoration: none;
}

a:hover{
    color: #1f1f1f;
    text-decoration: underline;
}

.search-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 78%;
}

.inputfield{
    border:  1px solid #dfe1e5; 
    border-radius: 25px;
    width: 580px;
    display: flex;
    z-index: 3;
    height: 25px;
    background: white;
    margin-top: 25px;
    padding: 10px;
    align-items: center;

}
.svgfield{
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    height: 46px;
}

.inputfield:hover{
    box-shadow: 0 0 5px #e0dcdc;
}

.inputfield input{
    width: 100%;
    border: none;
    box-shadow: none !important;
    outline: none !important;
    margin-left: 8px;
    font-size: 16px;
}

.btn-google{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043; 
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 30px 7px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-google:hover{
    box-shadow: 0 0 3px #828181;
}

.image-image{
    color: #4285f4;
    font: 16px / 16px Arial, sans-serif;
    position: relative;
    left: 112px;
    top: -18px;
    white-space: nowrap;
}

.submit-image{
    flex: 0 0 auto;
    padding-right: 13px;
    height: 44px;
    width: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 0;
}

.magni-glas-blue{
    background: none;
    height: 24px;
    width: 24px;
    margin: auto;
}


.header-advanced {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    font-size: small;
}
.header-advanced-logo {
    width: auto;
    display: flex;
    align-items: center;
}

.header-advanced-logo img {
    width:70px;
    height: auto;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    padding-left: 10px;
    margin: 20px 35px 25px 35px;
}

.separator-line {
    border-bottom: solid 1px #d6d6d6;
}

.form{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.find-pages{
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}
 .text-heading{
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;

}

.HoCfzc{
    float:left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

 .todo-heading{
    display: inline-block;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}



.input-one{
    display: flex;
    align-items: center;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
}

.input-one .prompt{
    float: left;
    display: inline-block;
    min-width: 183px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.input-one .prompt .text{
    font-size: 13px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.input-one .input-field{
    float:left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 57%;
}

.input-one .input-field input{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    width: 100%;
    text-align: left;

}

.input-one .todo{
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    color: #555;
    margin: 0 0 8px 1%;
    font-size: 11px;
    padding-left: 15px;
    vertical-align: middle;
    position: relative;
}

span{
    color: #666;
    font-family: monospace;
    font-size:11px;
    white-space: pre;
}

.submit{
    display: flex;
    align-items: center;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin-bottom: 20px;

}
.submit .prompt{
    float: left;
    display: inline-block;
    min-width: 183px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
.submit .field{
    float:left;
    display: inline-block;
    min-width: 168px;
    min-height: 41px;
    vertical-align: middle;
    width: 52.3%;
    padding-top: 5px;
}
.field .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.button input{
    background-color:#4d90fe;
    color: #fff;
    height: 30px;
    min-width: 120px;
    border: 1px solid #3079ed;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
}


